.reveal div.slides:after {
	position: absolute;
	display:block;
	content: "Lecture 1";
	font-weight: bold;
	text-align: left;
	border-bottom: medium solid #444;
	right:0;
	top:0;
	height: 30px;
	font-size: 16pt;
	color: #888;
	margin: 0;
	width: 100%;
}
