.reveal div.slides:before {
	position: absolute;
	display:block;
	content: "PUBH 6299 \2014  Fall 2015";
	font-weight: bold;
	text-align: right;
	border-bottom: medium solid #444;
	right:0;
	top:0;
	height: 30px;
	font-size: 16pt;
	color: #888;
	margin: 0;
	width: 100%;
}
